{% extends 'base.html' %}
{% block title %} Vista del TXT cargado {% endblock %}
{% block js %}
<script type="text/javascript" src="../../media/js/jquery-1.8.2.js"></script>
<script type="text/javascript" src="../../media/js/m.js"></script>
{% endblock %}
{% block css %}
<link href="../../media/css/style1.css"  rel="stylesheet" type="text/css" />
<link href="../../media/css/estilos.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block imagenCab %}
<div id="cabecera">
  <img src="../../media/images/djangopony2.png" />
</div>
{% endblock %}
{% block content %}
<div id="subtitulo"> VISTA DEL ARCHIVO TXT </div>
<br/>
<center>
{% if registro|length > 0 %}
<table width="500" border="1" align="center">
	<tr>
		<th scope="col" class="primera_fila">Periodos</th>
		<th scope="col" class="primera_fila">Precio Ajt</th>
	</tr>
	{% for l in registro %} 
	<tr>
		<td>{{l.periodo}}</td>
		<td>{{l.precioAjt}}</td>
	</tr>
	{% endfor %}
</table>
{% endif %}
{% endblock %}